body {
  margin: 0;
  overflow: hidden; /* Prevent scrollbars */
}

.game-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1; /* Place the background behind content */
}

.background {
  position: relative;
  width: 100%;
  height: 100%;
}

.map {
  background-image: url('https://i.postimg.cc/4dykJkZy/1.png');
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  display: relative; /* Important for positioning within .map */
}


.position-button {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 2; /* Place the button above the map */

  /* Positioning the button relative to .map */
  left: calc(1/7 * 100%); /* 1/7 of the horizontal width */
  top: calc(1/5 * 100%); /* 1/5 of the vertical height */
}

.position-button:hover::before {
  content: 'aaaa';
  position: absolute;
  top: -30px;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px;
  border-radius: 5px;
}
