body {
  margin: 0;
  overflow: hidden; /* Prevent scrollbars */
}

.game-container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.map {
  background-image: url('https://i.postimg.cc/4dykJkZy/1.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
}

.player {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: red;
  top: 0;
  left: 0;
}

.dice-button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
