body {
  margin: 0;
  overflow: hidden; /* Prevent scrollbars */
}

.game-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1; /* Place the background behind content */
  display: flex; /* Use flex layout to position sidebar */
}

.background {
  position: relative;
  flex: 1; /* Expand to fill available space */
}

.map {
  background-image: url('https://i.postimg.cc/4dykJkZy/1.png');
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  display: relative; /* Important for positioning within .map */
}

.position-button {
  position: absolute;
  width: 500px;
  height: 500px;
  background-color: #000000;
  border: none;
  cursor: pointer;
  z-index: 2; /* Place the button above the map */

  /* Positioning the button relative to .map */
  left: calc(1/7 * 100%); /* 1/7 of the horizontal width */
  top: calc(1/5 * 100%); /* 1/5 of the vertical height */
}

.position-button:hover::before {
  content: 'aaaa';
  position: absolute;
  top: -30px;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px;
  border-radius: 5px;
}

.sidebar {
  width: 100px;
  height: 100vh;
  background-color: #ccc;
}


body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.dice {
  background-image: url(https://assets.codepen.io/2002878/random-dice.png);
  width: 366px;
  height: 366px;
  background-position: 0% 100%;
  animation: rollDice .2s steps(5, start) infinite;
}

@keyframes rollDice {
  to {
    background-position: 100% 100%;
  }
}

#dice {
  display: none;
}

#dice:checked + label .dice {
  animation-play-state: paused;
}

.dice::before {
  content: '?';
  background-color: rgba(255, 255, 255, .8);
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 320px;
  font-family: Helvetica;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 60px;
}

#dice:checked + label .dice::before {
  display: none;
}
