body {
  margin: 0;
  overflow: hidden; /* Prevent scrollbars */
}

.game-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1; /* Adjust this to a higher value */
}


.player {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: red;
  top: 0;
  left: 0;
}

.dice-button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.position-button {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 2; /* Place the button above the map */
}
